.about-us-wrapper {
  margin: ($base-size * 3.5) auto;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.content-images {
  a:hover {
    h3 {
      top: 10%;
      transition: $transition;
    }

    span {
      display: block;
      transform: translateY(280%);
      font-size: 12px;
      
    }
  }

  a {
    span {
      @extend .h1;
      font-size: 11px;
      font-weight: 100;
      margin: 0 auto;
      color: $color-light;
      padding: 0;
      display: none;
    }

    h3 {
      @extend .h1;
      color: $color-light;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    position: relative;
    flex: 1;
    text-align: center;
    background-size: cover;
    text-decoration: none;
    border-radius: 15px;
  }

  min-height: 120px;
  margin-bottom: 0;
  display: flex;
  #order {
    background-image: url(../../../images/assets/pizza-1.jpg);
    margin-right: 5px;
  }
  
  #booking {
    background-image: url(../../../images/assets/pizza-1.jpg);
    margin-left: 5px;
  }
}

.opening-hours {
  text-align: center;
  min-height: 120px;
  background: $color-main;
  border-radius: 15px;

  h3 {
    @extend .h1;
    padding-top: 15px;
    color: $color-light;
    margin: 8px 0 0 0;
  }

  h2 {
    @extend .h2;
    color: $color-light;
  }
}

.containerMain {
  max-width: 700px;
  margin: 0 auto;
}


#carousel {
  position: relative;
  margin-top: 3%;
  max-height: 230px;
}
.container1{
  display: flex;
}
.element{
  max-width: 60%;
  max-height: 189px;
  h2{
    @extend .h1;
    margin-block: 5px;
  }
}
.image{
  img{
    width: 275px;
    height: 184px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
}
.description{
  padding:0 15px;
  border-style: solid;
  max-height: 184px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-left: none;
  border-width: 1.5px;
  border-color: rgba(0, 0, 0, 0.253);
  font-style: italic;
  font-size: 15px;
  font-weight: 600;

}
.tns-nav{
  text-align: center;
  margin-bottom: 5px;
}
.tns-nav button{
  width: 13px;
  height: 15px;
  border-radius: 50%;
  margin-inline: 1px;
  cursor: pointer;
}
.tns-nav button:hover{
  background: rgba(0, 0, 0, 0.185);
}
.tns-nav .tns-nav-active{
  background-color: rgba(0, 0, 0, 0.233);
}
.tns-item{
  margin: 0;
  padding: 0;
}

