@import 'partials/_settings';
@import 'partials/_typography';
@import 'partials/_global';
@import 'partials/_elements';

@import 'partials/_header';
@import 'partials/_cart';

@import 'partials/_product';
@import 'partials/_booking';